In [1]:

from util import *
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [2]:
# if 1059 is deposited annually at 10% interest
# how many years before a machine costing 26597 can be purchased
npf.nper(0.1, -1059, 0, 26597)

array(13.17854064)

In [3]:
i = effective_rate_per_payment_period(0.0645, M=2, K=2)
eq_sinking(21000, i, 10*2)

763.8058557519228

In [4]:
# changing interest

a=0.06
b=0.1
c=0.08
d=2000
e=3000
a=effective_annual_interest_rate(a, 4)
b=effective_annual_interest_rate(b,4)
c=effective_annual_interest_rate(c,4)
ans=single_present(d, c, 1) * time_shift(b, -2) * time_shift(a, -2)+\
    single_present(d, b, 2) * time_shift(a, -2)+ single_present(e, b, 1)* time_shift(a, -2) + eq_present(d, a, 2)
ans

8875.83125446052

In [5]:
ans2 = ans * time_shift(a, 2) * time_shift(b, 2) * time_shift(c, 1)
ans2

13186.483178392722

In [6]:
# annual effective interest rate for an addon loan
# assignment 2 question 4
monthly_rate = npf.rate(24, 156.04, -3000, 0)
nominal = monthly_rate*12
nominal

ia_APR_per_month_compounded_monthly(monthly_rate)

eq_present(156.04, monthly_rate, 12)

0.22273535385356585

0.24694112891155773

1664.8515346491358

In [7]:
A = bond_payment(0.13, 1100)
A
# market price of bond after interest goes doqn
bond_market(A, 0.04, 15-2, 1100)
bond_market(A, 0.15, 15-2, 1100)

bond_current_yield(A, 783.58)

71.5

2095.9912700416758

975.7056702629909

this is the semiannual yield
multiply by M=2 to get the annual current yield

0.09124786237525204

In [8]:
# refinance car loan, probably there will be a question like this
P = 15458*0.9
i1 = effective_rate_per_payment_period(0.115, M=12, K=12)
A1 = eq_capital_recovery(P, i1, 60)
A1
# 4 months later, refinance

# first find how much is owed
P = eq_present(A1, i1, 60-4)

i2 = effective_rate_per_payment_period(0.105, M=12, K=12)
A2 = eq_capital_recovery(P, i2, 60-4)
A2

total_interest = 0
for n in range(1, 5):
    total_interest += interest_payment(A1, i1, 60, n)
# remember to +1 the end range
for n in range(1, 60-4+1):
    total_interest += interest_payment(A2, i2, 60-4, n)
total_interest

305.9655523206716

299.43525664802377

4080.0365815720147

note: this is probably the semiannual rate if M=2 i.e. you now have r/m
use ia(r_over_m, M=2) to get annual interest rate
multiply it by 2 to get the nominal annual rate

FiniteSet(-2, 3/50)

In [9]:
# yield to maturity for bonds
YTM(1000, 0.12, 30, 1000)
semiannualrate = 3/50
ia(semiannualrate)
A=bond_payment(0.12, 1000)
bond_market(A, 0.09, 30-5, 1000)


YTM_NA(922.38, A, 0.09, 30*2-5*2-1, 1000, M=2)
ia(0.0653083871411682)
0.0653083871411682 * 2

note: this is probably the semiannual rate if M=2 i.e. you now have r/m
use ia(r_over_m, M=2) to get annual interest rate
multiply it by 2 to get the nominal annual rate
expr -922.38 + 1000/(i + 1)**49 + (60.0*(i + 1)**49 - 60.0)/(i*(i + 1)**49)
note: this is probably the semiannual rate if M=2 i.e. you now have r/m
use ia(r_over_m, M=2) to get annual interest rate
multiply it by 2 to get the nominal annual rate

FiniteSet(-2, 3/50)

0.12360000000000015

1296.430116678116

FiniteSet(-2.68484944380803, -1.36346351561949, 0.0653083871411682)

0.13488195971331707

0.1306167742823364

In [10]:
A = bond_payment(0.1, 1000)
bond_market(A, 0.06, 10-3, 1000)

1225.9214627875874

In [11]:
net = -535
i = 0.15
net -= single_present(3431, i, 1)
net -= single_present(4460, i, 2)
net += eq_present(1647, i, 8) * time_shift(i, -2)
net += eq_present(4781, i, 8) * time_shift(i, -2)
net -= eq_present(1582, i, 8) * time_shift(i, -2)
net -= eq_present(1448, i, 8) * time_shift(i, -2)
net += single_present(1512, i, 10)
net

5012.481259125566

In [12]:
project_balance(0.2, [-10000, -11000, -8200, -1840, 3792, 7550])

net present worth 3034.1756687242823

        An  interest  project balance  difference
0 -10000.0       0.0           -10000      -10000
1   1000.0   -2000.0           -11000       -1000
2   5000.0   -2200.0            -8200        2800
3   8000.0   -1640.0            -1840        6360
4   6000.0    -368.0             3792        5632
5   2999.6     758.4             7550        3758

In [13]:
cash_flows(0.2, [-10000, 1000, 5000, 8000, 6000, 2999.6])

net present worth 3034.1756687242823

        An  interest  project balance  difference
0 -10000.0       0.0         -10000.0    -10000.0
1   1000.0   -2000.0         -11000.0     -1000.0
2   5000.0   -2200.0          -8200.0      2800.0
3   8000.0   -1640.0          -1840.0      6360.0
4   6000.0    -368.0           3792.0      5632.0
5   2999.6     758.4           7550.0      3758.0

In [14]:
single_present(5000, 0.06, 1)
single_present(6000, 0.06, 3)
npf.nper(0.08, 0, 1, -2)
i=ia_APR_per_month_compounded_monthly(0.018)
i
npf.rate(5, 5548.19, -20000, 0)

4716.981132075472

5037.715698193811

array(9.00646834)

0.2387205315755283

0.11999966249944216

In [15]:
# find nominal interest rate if effective annual yield is 8.87%
r = sym.symbols('r')
expr = -0.0887 + effective_rate_per_payment_period(r, M=365)
solve(expr, r)

FiniteSet(0.0849942182828878)

In [22]:
A = bond_payment(0.09625, 1000)
_, x = YTM(996.25, 0.09625, 10, 1000)
x * 2
ia(x)

note: this is probably the semiannual rate if M=2 i.e. you now have r/m
use ia(r_over_m, M=2) to get annual interest rate
multiply it by 2 to get the nominal annual rate

0.0968437929347675

0.0991884729922654

In [24]:
A = eq_capital_recovery(100000, 0.06, 10)
principal_payment(100000, 0.06, 10, 2)/A

0.591898463530025