In [39]:
from util import *

In [40]:
#1
i = 0.06

#take 15 year and make it an annual cost
#4000000 - net_present_worth(i, [-4000000] + [-99000]*15 + [870000])

init_cost = 4000000

yearly_repair = 99000
yearly_repair += eq_sinking(870000, i, 15)
yearly_repair /i + init_cost

6272960.077352034

In [41]:
i = 0.06

#take 15 year and make it an annual cost
#4000000 - net_present_worth(i, [-4000000] + [-99000]*15 + [870000])

init_cost = 4000000

yearly_repair = 99000
yearly_repair += eq_sinking(870000, i, 20)
yearly_repair /i + init_cost

6044176.076164345

In [42]:
#1
i = 0.1

#take 15 year and make it an annual cost
#4000000 - net_present_worth(i, [-4000000] + [-99000]*15 + [870000])

init_cost = 4000000

yearly_repair = 99000
yearly_repair += eq_sinking(870000, i, 15)
yearly_repair /i + init_cost

5263821.858920137

In [43]:
i = 0.10

#take 15 year and make it an annual cost
#4000000 - net_present_worth(i, [-4000000] + [-99000]*15 + [870000])

init_cost = 4000000

yearly_repair = 99000
yearly_repair += eq_sinking(870000, i, 20)
yearly_repair /i + init_cost

5141898.735521148

In [44]:
#2
#accept if AE > 0 or net present value > 0
i=0.14

equivalent_annual_worth(i, [-6100, 0, 0, 15500])

1878.8759158041607

In [45]:
equivalent_annual_worth(i, [-3900, 1500, 1800, 2100])

94.0162809629022

In [46]:
equivalent_annual_worth(i, [-5000, 4000, 3000, 2000])

933.4457495057554

In [47]:
equivalent_annual_worth(i, [-6600, 3800, 3800, 3800])

957.1722293289905

In [48]:
capital_cost(250000, 40000, 0.18, 5)

74353.34677690525

In [49]:
#4
cash_flows(0.18, [-1300, 1350, 800, 200, 100])

net present worth 591.9204024704721

     An    interest  project balance   difference
0 -1300    0.000000     -1300.000000 -1300.000000
1  1350 -234.000000      -184.000000  1116.000000
2   800  -33.120000       582.880000   766.880000
3   200  104.918400       887.798400   304.918400
4   100  159.803712      1147.602112   259.803712

In [50]:
cash_flows(0.18, [-1800, 1000, 800, 800, 150])

net present worth 186.2782003441181

     An    interest  project balance   difference
0 -1800    0.000000     -1800.000000 -1800.000000
1  1000 -324.000000     -1124.000000   676.000000
2   800 -202.320000      -526.320000   597.680000
3   800  -94.737600       178.942400   705.262400
4   150   32.209632       361.152032   182.209632

In [51]:
X = sym.symbols('X')
expr = net_present_worth(0.18, [-3600, 1000, X, 1500, X])
solve(expr, X)

FiniteSet(1490.79081090119)

In [52]:
X = sym.symbols('X')
expr = equivalent_annual_worth(0.18, [-3600, 1000, X, 1500, X])
solve(expr, X)

FiniteSet(1490.79081090119)

In [53]:
cash_flows(0.18, [1500, -430, -430, -430, -430])

net present worth 343.27342397408137

     An   interest  project balance  difference
0  1500    0.00000       1500.00000  1500.00000
1  -430  270.00000       1340.00000  -160.00000
2  -430  241.20000       1151.20000  -188.80000
3  -430  207.21600        928.41600  -222.78400
4  -430  167.11488        665.53088  -262.88512

In [54]:
cash_flows(0.18, [-1800, 540, 540, 540, 540])

net present worth -347.36662545582294

     An    interest  project balance   difference
0 -1800    0.000000     -1800.000000 -1800.000000
1   540 -324.000000     -1584.000000   216.000000
2   540 -285.120000     -1329.120000   254.880000
3   540 -239.241600     -1028.361600   300.758400
4   540 -185.105088      -673.466688   354.894912

In [55]:
cash_flows(0.19, [1500, -430, -430, -430, -430])

net present worth 365.4082268705055

     An    interest  project balance   difference
0  1500    0.000000      1500.000000  1500.000000
1  -430  285.000000      1355.000000  -145.000000
2  -430  257.450000      1182.450000  -172.550000
3  -430  224.665500       977.115500  -205.334500
4  -430  185.651945       732.767445  -244.348055

In [56]:
#5
math.lcm(3, 2)

6

In [57]:
a = equivalent_annual_worth(0.12, [-21500, 17500, 17000, 15000])
a

7641.669037458503

In [58]:
eq_present(a, 0.12, 6)

31418.014044540712

In [59]:
b = equivalent_annual_worth(0.12, [-26300, 25500, 18000])
b

6400.6037735849

In [60]:
eq_present(b, 0.12, 6)

26315.48922968161

In [61]:
math.lcm(5, 3)

15

In [62]:
#salvage , add to cash flow at the end
a = equivalent_annual_worth(0.09, [-15700, -2000, -2000, -2000, -2000, -2000 + 2000])
eq_present(a, 0.09, 15)

-45963.38882384052

In [63]:
a = equivalent_annual_worth(0.09, [-14800, -2100, -2100, -2100 + 1000])
eq_present(a, 0.09, 15)

-61597.81136091246

In [64]:
cash_flows(0.08, [-2800, 650, 650, 650, 650, 650, 650, 300, 300])

net present worth 541.9995655040057

     An    interest  project balance   difference
0 -2800    0.000000     -2800.000000 -2800.000000
1   650 -224.000000     -2374.000000   426.000000
2   650 -189.920000     -1913.920000   460.080000
3   650 -153.113600     -1417.033600   496.886400
4   650 -113.362688      -880.396288   536.637312
5   650  -70.431703      -300.827991   579.568297
6   650  -24.066239       325.105770   625.933761
7   300   26.008462       651.114231   326.008462
8   300   52.089139      1003.203370   352.089139

In [65]:
cash_flows(0.08, [-4000, -500, -500, 4000, 3000, 3000, 2000, 3000])

net present worth 5541.346180010054

     An    interest  project balance   difference
0 -4000    0.000000     -4000.000000 -4000.000000
1  -500 -320.000000     -4820.000000  -820.000000
2  -500 -385.600000     -5705.600000  -885.600000
3  4000 -456.448000     -2162.048000  3543.552000
4  3000 -172.963840       664.988160  2827.036160
5  3000   53.199053      3718.187213  3053.199053
6  2000  297.454977      6015.642190  2297.454977
7  3000  481.251375      9496.893565  3481.251375

In [66]:
cash_flows(0.08, [-8300, -2500, -2000, -1500, -1500, -1500, -1500, -3000, -3000])

net present worth -19960.192671310928

     An     interest  project balance   difference
0 -8300     0.000000     -8300.000000 -8300.000000
1 -2500  -664.000000    -11464.000000 -3164.000000
2 -2000  -917.120000    -14381.120000 -2917.120000
3 -1500 -1150.489600    -17031.609600 -2650.489600
4 -1500 -1362.528768    -19894.138368 -2862.528768
5 -1500 -1591.531069    -22985.669437 -3091.531069
6 -1500 -1838.853555    -26324.522992 -3338.853555
7 -3000 -2105.961839    -31430.484832 -5105.961839
8 -3000 -2514.438787    -36944.923618 -5514.438787

In [67]:
cash_flows(0.08, [-5400, -2000, -2000, -2000, -2000, -2000, -2000, -2000, -3000])

net present worth -17433.546771952573

     An     interest  project balance   difference
0 -5400     0.000000     -5400.000000 -5400.000000
1 -2000  -432.000000     -7832.000000 -2432.000000
2 -2000  -626.560000    -10458.560000 -2626.560000
3 -2000  -836.684800    -13295.244800 -2836.684800
4 -2000 -1063.619584    -16358.864384 -3063.619584
5 -2000 -1308.709151    -19667.573535 -3308.709151
6 -2000 -1573.405883    -23240.979417 -3573.405883
7 -2000 -1859.278353    -27100.257771 -3859.278353
8 -3000 -2168.020622    -32268.278393 -5168.020622

In [68]:
#9
revenue = 400*1000
cost_a = 300*1000 + 1500 + 0.5 * 1000
profit = revenue - cost_a
unit_profit = profit / 1000
unit_profit

98.0

In [69]:
cost = 50000+6000+18000+20000 + eq_capital_recovery(415000+9500, 0.15, 8)
cost, cost/1000

(188599.8630301656, 188.5998630301656)

In [70]:
X = sym.symbols('X')
rev_a = 400 * X
cost_a = 300*X + 1500 + 0.5 * X
unit_profit_a = (rev_a - cost_a)/X

unit_profit_b = 300 - cost/X

solve(unit_profit_a - unit_profit_b, X)

FiniteSet(933.166399152946)

In [71]:
#10
annual_cost = 50000 + 35000
init_cost = 1300000
salvage = 60000
init_cost -= single_present(salvage, 0.09, 23) # salvage value time shifted
annual_cost += eq_capital_recovery(init_cost, 0.09, 23)
annual_cost, annual_cost/(20*365)

(219833.53125666498, 30.11418236392671)

In [72]:
annual_cost = 81000+30000
init_cost = 750000
salvage = 30000
init_cost -= single_present(salvage, 0.09, 10) # salvage value time shifted
annual_cost += eq_capital_recovery(init_cost, 0.09, 10)
annual_cost, annual_cost/(20*365)

(225890.46473450426, 30.943899278699213)